{% import 'macros.html' as macro%}
{% extends 'base.html'%}

{% block content %}
<div class="watch">
  <div class="container">
    <div class="row">
      {% for source in sources %}
      <div class="col-md-4">
        <h1> <strong>{{source.name}}</strong>
        </h1>


        {{source.description}}<br>
        {{source.id}}

        <a href="{{source.url}}">Visit site</a>

      </div>

      <a href="/article/{{source.id}}"><button class="btn btn-info">Go to Article</button></a>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}